{% extends 'base.html' %}
{% block content %}

<h3>Sign Up</h3>

<form method="post">
    {% csrf_token %}

    <input class="form-control mb-2" name="username" placeholder="Username" required>
    <input class="form-control mb-2" type="password" name="password" placeholder="Password" required>

   <select class="form-control mb-3" name="role" required>
  <option value="">Select Role</option>
  <option value="doctor" {% if request.GET.role == 'doctor' %}selected{% endif %}>
    Doctor
  </option>
  <option value="patient" {% if request.GET.role == 'patient' %}selected{% endif %}>
    Patient
  </option>
</select>


    <button class="btn btn-primary">Sign Up</button>
</form>

{% endblock %}
